.order_content {
    width: 87%;
    margin: auto;
    margin-top: 10px;
}
.order_content .side {
    width:18%;
    display: inline-block;
    vertical-align: top;
    background: #ebebeb;
    border-radius: 4px;
}
.side .side_top{
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px 4px 0 0;
    background: #00BF4B;
    color: #fff;
    font-size: 20px;
}
.side .side_content {
    width: 94%;
    margin:10px auto;
    padding: 6px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.side .side_content p {
    line-height: 20px;
    color: #444;
}

.order_content .order_detail {
    width:78%;
    margin-left:2%;
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.order_detail .top h2{
    color: #333;
    font-size: 20px;
    margin-bottom:5px;
}
.order_detail .top em, i{
    font-size:12px;
    font-style: normal;
    color: #f80;
}
.order_detail .top span{
    font-size:12px;
    color: #333;
}
.order_detail .left {
    width:40%;
    display: inline-block;
    margin-top: 8px;
    vertical-align: top;
}
.order_detail .left .detail_img{
    padding: 3px;
    border: 1px solid #f0f0f0;
}
.left .detail_img img{
    width:100%;
    height:100%;
}
.order_detail .left table{
    width: 100%;
    border:1px solid #f0f0f0;
    border-collapse: collapse;
    margin-top: 10px;
}
.order_detail .left table td{
    border:1px solid #f0f0f0;
    height: 30px;
    padding-left: 6px;
}

.order_detail .right {
    width:58%;
    display: inline-block;
    margin-left:1%;
    margin-top: 8px;
    vertical-align: top;
}
 .order_detail .right .price {
     box-sizing: border-box;
     background: #fff2e8;
     padding: 8px 20px;
 }
.order_detail .right .price .child_price{
    margin-left: 14px;
}
.order_detail .right .address {
    line-height: 25px;
    margin: 10px 0 6px 10px;
}
.order_detail .right .order_type {
    padding: 10px;
    border: 1px solid #f0f0f0;
    background: #fbfbfb;
    line-height: 32px;
}
.order_detail .right .order_type .reserve {
    width: 18%;
    height: 30px;
    margin-top:10px;
    margin-left:62px;
    background: #EB7000;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    border:none;
    outline:none;
    cursor: pointer;
}
.reference_stroke {
    margin-top:30px;
}
.reference_stroke h3{
    padding-bottom: 6px;
    border-bottom: 2px solid #00BF4B;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.reference_stroke h3 span {
    background: #00BF4B;
    font-size:16px;
    color: #fff;
    padding: 8px;
}
.reference_stroke .trip_content{
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.reference_stroke .trip_content li span {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 8px;
    display: inline-block;
}
.reference_stroke .trip_content li p {
    margin-top: 4px;
    line-height: 22px;
}