<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>订单详情页</title>
    <link href="../../dist/css/layui.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    <link href="../../css/swiper.min.css" rel="stylesheet" />
    <link href="../../css/index.css" rel="stylesheet" />
    <link href="orderDetail.css" rel="stylesheet" />
</head>
<body>
    <div class="content" id="app">
        <div class="layui-row content-row">
            <div class="layui-col-md3 layui-col-sm3 layui-col-xs3" style="padding-left:40px;">
                <img src="../../img/logo2.png" style="width:166px;height:60px;"/>
            </div>
            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                <span class="ind_span"><i class="iconfont">&#xe639;</i>&nbsp;中山</span>
                <div class="search_bot layui-inline">
                    <div class="search_top layui-inline">
                        <input type="text" class="search_text" value=""   style="color: rgb(170, 170, 170);" autocomplete="off">
                        <button type="submit"> 搜&nbsp;索 </button>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
                <div class="search_right">
                    <span class="border_span">游客咨询</span>
                    <!--<a href="../Login/login1.html"><span class="search_btn">登录&nbsp;|&nbsp;注册</span></a>-->
                </div>
            </div>
        </div>
        <div class="layui-row">
            <ul class="layui-nav">
                <li class="layui-nav-item layui-this" style="margin-left:72px;"><a href="index.html">首页</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">旅游顾问</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">找顾问</a></dd>
                        <dd><a href="">旅游定制</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">自助游</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">酒店</a></dd>
                        <dd><a href="">机票</a></dd>
                        <dd><a href="">门票</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">攻略</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">旅游指南</a></dd>
                        <dd><a href="">美食</a></dd>
                        <dd><a href="">特产</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">百宝箱</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">天气</a></dd>
                        <dd><a href="">应急</a></dd>
                        <dd><a href="">公交</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="order_content">
            <aside class="side">
                <div class="side_top">
                    咨询旅游顾问
                </div>
                <div class="side_content">
                    <h5>旅游热线</h5>
                    <p>01057117510</p>
                    <p>18911123043</p>
                    <p>17710636963</p>
                    <p>13321163093</p>
                </div>
            </aside>
            <article class="order_detail">
                <div class="top">
                    <h2>< {{orderData.title}} >豪华产品，全程两大升级，八大赠送</h2>
                    <em>线路编号：<i>1116{{orderData.newId}}</i></em>
                    <span>0购物0自费，一价全包，省心省钱，全网最高性价比</span>
                </div>
                <section class="left">
                    <div class="detail_img">
                        <img style="height:226px;" v-bind:src="orderData.img ===[]||orderData.img==null?'../../img/nopic.png': orderData.img[0].img">
                    </div>
                    <table>
                        <tbody border>
                            <tr>
                                <td>关注 (50612)</td>
                                <td>订单 ({{orderData.orderCount}}笔)</td>
                            </tr>
                            <tr>
                                <td>收藏</td>
                                <td>分享</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="right">
                    <div class="price">
                        <p>门市价：<span>{{orderData.originalPrice}}</span>元</p>
                        <p>会员价：
                            <span>{{orderData.price}}</span>元
                            <span class="child_price">儿童价：<strong>{{childPrice}}</strong>元起</span>
                        </p>
                    </div>
                    <div class="address">
                        <p>出发城市：<span>北京</span></p>
                        <p>出发日期：<span>天天发团，请至少提前<strong>1</strong>天报名</span></p>
                    </div>
                    <div class="order_type">
                        <div class="reserve_type">
                            预定类型：
                            <span>一价全含跟团游</span>
                        </div>
                        <div class="go_time">
                            出发日期：
                            <span>{{orderData.beginTime}} </span>
                        </div>
                        <div class="member_num">
                            预订人数：
                            <input type="text" style="width:50px;" v-model="tatolSum"/>人&nbsp;
                            <span>成人</span>
                            <input type="text" style="width:50px;" @input="addPrice"  v-model="oldsum"/>人&nbsp;
                            <span>儿童</span>
                            <input type="text" style="width:50px;" @input="addPrice" v-model="kidsum"/>人
                        </div>
                        <label style="display:inline-block;width:60px;">总价：</label>
                        <input type="text" style="width:70px;" v-model="newObj.sumPrice"/>元
                        <button class="reserve" style="float:right;" @click="sureAddOrder()">确认预定</button>
                    </div>
                </section>
                <div class="reference_stroke">
                    <h3><span>参考行程</span></h3>
                    <ul class="trip_content">
                        <li>
                            <span>05：30</span><br>
                            <h5>前往景点：<strong>意大利风情区</strong></h5>
                            <p>天津市中心的意大利风情区，有200多栋地中海式风格的建筑，漫步在意大利风情区，就好像行走在浪漫的欧洲小镇。马可波罗广场是景区的标志性建筑之一。这里还拥有众多的名人故居，梁启超故居、民国大总统曹锟的故居、冯国璋旧宅等，他们都是上世纪初中国赫赫有名的人物。到了夜晚，意式建筑亮起了灯，西餐厅、咖啡店和酒吧变得热闹起来，意大利风情区更加的迷人了。</p>
                        </li>
                        <li>
                            <span>06：30</span><br>
                            <h5>前往景点：<strong>都柏林风情区</strong></h5>
                            <p>天津市中心的意大利风情区，有200多栋地中海式风格的建筑，漫步在意大利风情区，就好像行走在浪漫的欧洲小镇。马可波罗广场是景区的标志性建筑之一。这里还拥有众多的名人故居，梁启超故居、民国大总统曹锟的故居、冯国璋旧宅等，他们都是上世纪初中国赫赫有名的人物。到了夜晚，意式建筑亮起了灯，西餐厅、咖啡店和酒吧变得热闹起来，意大利风情区更加的迷人了。</p>
                        </li>
                        <li>
                            <span>07：30</span><br>
                            <h5>前往景点：<strong>爱情岛</strong></h5>
                            <p>天津市中心的意大利风情区，有200多栋地中海式风格的建筑，漫步在意大利风情区，就好像行走在浪漫的欧洲小镇。马可波罗广场是景区的标志性建筑之一。这里还拥有众多的名人故居，梁启超故居、民国大总统曹锟的故居、冯国璋旧宅等，他们都是上世纪初中国赫赫有名的人物。到了夜晚，意式建筑亮起了灯，西餐厅、咖啡店和酒吧变得热闹起来，意大利风情区更加的迷人了。</p>
                        </li>
                        <li>
                            <span>08：30</span><br>
                            <h5>前往景点：<strong>都柏林风情区</strong></h5>
                            <p>天津市中心的意大利风情区，有200多栋地中海式风格的建筑，漫步在意大利风情区，就好像行走在浪漫的欧洲小镇。马可波罗广场是景区的标志性建筑之一。这里还拥有众多的名人故居，梁启超故居、民国大总统曹锟的故居、冯国璋旧宅等，他们都是上世纪初中国赫赫有名的人物。到了夜晚，意式建筑亮起了灯，西餐厅、咖啡店和酒吧变得热闹起来，意大利风情区更加的迷人了。</p>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
    <script src="../../dist/jquery.min.js"></script>
    <script src="../../dist/layui.js"></script>
    <script src="../../dist/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../dist/global.js"></script>
    <script src="../../dist/sha256.min.js"></script>
    <script src="../../pagejs/orderDetail.js"></script>
</body>
</html>