html, body {
    /*height: 100%;*/
    /*width: 100%;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Microsoft YaHei','SimSun';
    background:#F6F6F6 ;
}
.content{
    width:100%;
    height:auto;
}
.layui-form-item{
    margin-top:10px;
}
.layui-input-inline input{
    /*width:240px;*/
    height:34px;
    line-height:34px;
    border:1px solid #D9D9D9;
    padding-left:5px;
    padding-right:5px;
    font-size:15px;
}
.showPage{
    background-color:#fff!important;
}
.head_pass{
    color:#f5f5f5;
}

/*公共页脚*/
.login_foot{
    padding-bottom:6px;
    border-bottom: 1px solid #e6e6e6;
}
.login_bottom{
    width:100%;
    margin-top:60px;
}
.login_bottom_content{
    width:36%;
    margin-left:32%;
}
.login_bottom li{
    width:18%;
    text-align: center;
    cursor: pointer;
    color:#f5f5f5;
}
.login_bottom li:hover{
    color:#4BA201;
}
.login_bottom_2{
    width:100%;
}
.login_bottom_content_2{
    width:26%;
    margin-left:37%;
}
.login_bottom li{
    width:18%;
    text-align: center;
    cursor: pointer;
    color:#434343;
}
.login_bottom_2 li{
    cursor: pointer;
}
.login_bottom_2 li:hover{
    color:#4BA200;
}
/*公共按钮*/
.gre_btn{
    background:#4BA200;
    color:#fff;
    font-size:16px;
    border-radius:4px;
    width:146px;
    height:32px;
    line-height:32px;
    border:none;
    cursor: pointer;
}
.gre_btn:hover{
    color:#FFFF84;
}
/*轮播样式*/
.view {
    width:100%;
}
.view .swiper-container {
    width:100%;
    height: 390px;
}
.view .swiper-container img{
    width:100%;
    height: 390px;
}
.view .arrow-left {
    background: url(../img/left.png) no-repeat left top;
    position: absolute;
    left: 24px;
    top: 47%;
    margin-top: -12px;
    width: 28px;
    height: 60px;
    z-index: 10;
}

.view .arrow-right {
    background: url(../img/right.png) no-repeat left bottom;
    position: absolute;
    right: 18px;
    top: 47%;
    margin-top: -34px;
    width: 28px;
    height: 60px;
    z-index: 10;
}
/*轮播结束*/

/*页面公共主体*/
.content-main {
    margin: 0px;
    width: 100%;
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #F6F6F6;
}
.content-main-bock {
    width: 95%;
    margin: 30px 2.5% 30px 2.5%;
    height: auto;
    border-radius: 3px;
    position: absolute;
    padding: 0px;
}
.app-toptitle{
    height: 40px;
    background: #ffffff;
    line-height: 40px;
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.app-btn-all{
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #2db7f5;
    color: #2db7f5;
    background: #ffffff;
    border-radius: 4px;
}
a.app-btn-all:hover{
    color: #0aa2e5 !important;
    border: 1px solid #0aa2e5;
}

.app-btn{
    color: #2db7f5;
    font-size: 15px;
    cursor: pointer;
}
a.app-btn:hover{
    color: #0aa2e5;
}

.app-model {
    display: none;
}
.pub{
    display: inline-block;
    width:34px !important;
    text-align: left !important;
}
.pub2{
    display: inline-block;
    width:48px !important;
    text-align: left !important;
}
.add_btn{
    text-align: center;
    background-color: #2db7f5;
    color:#fff;
    width:90px;
    height:30px;
    line-height: 30px;
    border-radius:6px;
    border: 1px solid #fff;
    cursor: pointer;
}
.add_btn:hover{
    text-align: center;
    background-color: #0aa2e5;
    color:#fff;
    width:90px;
    height:30px;
    line-height: 30px;
    border-radius:6px;
    border: 1px solid #fff;
    cursor: pointer;
}
.layui-input{
    width:180px!important;
}

/*上传图片*/
.img_box{
    margin:0px auto;
    width:220px;
    height:200px;
    border: solid 1px #f0f0f0;
}
.addImg{
    width:100%;
    height:100%;
}