.ind_span{
    font-size:17px;
    color:#999;
    cursor: pointer;
    height:60px;
    line-height: 60px;
    margin-left:20px;
}
.ind_span i{
    color:#D9D9D9;
    font-size:18px!important;
}
/*.icon_area:hover{*/
    /*color:#4BA201;*/
/*}*/
.content-row{
    padding-left:50px;
    padding-right:50px;
    padding-top:10px;
    margin-bottom:12px;
}
/*搜索框*/
.search_bot{
    width:auto;
    height:60px;
    line-height: 60px;
    margin-left:20px;
}
.search_top{
    height:30px;
    border:2px solid #fa8d00;
    background:#fff;
    width:270px;
    vertical-align: middle;
    outline:none;
}
.search_top input.search_text{
    display:inline-block;
    width:200px;
    float:left;
    padding:0px 5px 0px 5px;
    height:30px;
    line-height:30px;
    border:0;
    font-size:13px;
    outline:none;
    color:#434343;
}
.search_top button{
    position: absolute;
    right:0px;
    top:0px;
    width:70px;
    height:30px;
    line-height:30px;
    border:1px solid #ff9911;
    font-size:16px;
    color:#fff;
    font-family:"microsoft yahei";
    background:#ff9911;
    cursor:pointer;
    outline:none;
}
.search_right{
    float:right;
    width:auto;
    height:60px;
    line-height:60px;
    text-align: center;
}
.search_right span{
    font-size:15px;
    color:#999;
}
.border_span{
    border-right:2px solid #D9D9D9;
    padding-right:10px;
    margin-right:10px;
    cursor: pointer;
}
.search_btn{
    display: inline-block;
    font-size:17px!important;
    color:#ff9911!important;
    cursor: pointer;
}
.search_btn2{
    display: inline-block;
    font-size:16px!important;
    color:#ff9911!important;
}

/*改变导航栏的样式*/
.layui-nav{
    height:46px;
    background-color:#00BF4B;
}
.layui-nav .layui-nav-item{
    line-height:46px;
}
.layui-nav .layui-nav-item a{
    font-size:15px;
    color:rgba(255, 251,240,1);
    padding:0 28px;
}
.layui-nav-child{
    top:50px;
    line-height:32px;
    color:#434343;
    background:#00BF4B;
}
.layui-nav .layui-this{
    background:#02AB43;
}
.layui-nav .layui-this:after{
    content:none;
}
.today_put{
    display:inline-block;
    height:50px;
    line-height:50px;
    font-size:20px;
    font-weight: bold;
    color:#ff9911;

}
.new_bot{
    padding:10px 10px;
    height:254px;
    cursor:pointer;
    margin-bottom:30px;
}
.new_bot_img{
    width:100%;
    height:200px;
}
.new_bot p{
    width:100%;
    height:26px;
    line-height:26px;
    font-size:14px;
}
.price{
    width:100%;
}
.price span{
    display:inline-block;
    font-size:20px;
    color:#ff9911;
    line-height:30px;
    margin-top:3px;
    margin-left:2px;
}
.new_bot p:hover{
    color:#ff9911;
}
.price button{
    width:90px;
    background:#ff9911;
    float:right;
    color:#fff;
    font-size:18px;
    margin-right:4px;
    height:30px;
    line-height:30px;
}
.layui-table td, .layui-table th{
    font-size:12px;!important;
}