* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    font-size: 14px;
    font-family: Microsoft YaHei;
    background: url('../page/Login/img/login-bg.jpg') no-repeat;
    background-size: 100% 100%;
    /*background-position: center;*/
    /*height:100%;*/
}
.login_head{
    padding-left:60px;
    padding-top:10px;
}
.back_content {
    /*background: #f2f2f2;*/
    /*width: 350px;*/
    /*height: 300px;*/
    /*margin: 0px auto;*/
    /*vertical-align: middle;*/
    /*border-radius: 2px;*/
    margin-top: 84px;
    /*background: #fff;*/
    /*border: 1px solid #e8e8e8;*/
    border-radius: 10px;
    padding-top: 23px;
}
.back_cont_item{
    width:240px;
    height:50px;
    vertical-align:middle;
    margin:0px auto;
    text-align: center;
    padding-top:10px;
}
.back_cont_item2{
    width:240px;
    vertical-align:middle;
    margin:0px auto;
    padding-top:10px;
}
.back_cont_item p{
    color:#2D8CF0;
    font-size:20px;
}
.back_cont_item span{
    display:inline-block;
    border:1px solid #2D8CF0;
    width:100%;
    height:36px;
    line-height:36px;
    border-radius: 8px;
    padding-right:4px;
}
.back_cont_item input{
    border:none;
    width:200px;
    height:34px;
    line-height:34px;
    background:none;
}
.icon{
    width:30px;
    float:left;
    font-size:20px;
    color:#2D8CF0;;
}
.back_cont_item span button{
    color:#fff;
    font-size:20px;
    width:100%;
    background:#2D8CF0;
    border: none;
    height:100%;
    border-radius: 8px;
    cursor: pointer;
}
.back_cont_item2 a{
    font-size:14px;
    color:#2D8CF0;
    cursor: pointer;
}