* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-size: 14px;
    font-family: Microsoft YaHei;
}
.login {
    position:fixed;
    height: 100%;
    width: 100%;
}
.login_left{
    padding-left:200px;
    padding-top:20px;
}
.login_left_img{
    width:100%;
}
.login_left_img img{
    width:94%;
}
.login_right{
    padding-top:90px;
    padding-left:20%;
}
.login_right_top{
    width:340px;
    height:32px;
}
.gre_btn{
    background:#4BA200;
    color:#fff;
    font-size:16px;
    border-radius:4px;
    width:146px;
    height:32px;
    line-height:32px;
    border:none;
    cursor: pointer;
}
.gre_btn:hover{
    color:#FFFF84;
}
.icon_1{
    font-size:19px;
}
.login_right_mid{
    margin-top:20px;
    width:340px;
    height:auto;
}
.login-content-area{
    vertical-align: middle;
    width:70%;
    margin-left:15%;
    margin-right:15%;
    margin-top:20px;
    color-size:14px;

}
.login_lab{
    display:inline-block;
    width:47px;
}
.login-content-area input{
    width:170px;
    height:36px;
    line-height:36px;
    border:1px solid #e6e6e6;
    border-radius: 6px;
    padding-left:5px;
    padding-right:5px;
}
.login-content-area a{
    color:#5E7DCC;
    font-size:14px;
    cursor: pointer;
}
.login-content-area a:hover{
    color:#F23D15;
}
.login_btn{
    width:100%;
    height:36px;
    line-height:36px;
    border:none;
    border-radius:6px;
    background:#4BA201;
    text-align: center;
    font-size:18px;
    color:#fff;
    cursor: pointer;
    margin-top:20px;
}
.login-content-area2{
    vertical-align: middle;
    width:70%;
    margin-left:15%;
    margin-right:15%;
    color-size:14px;
    margin-top:4px;
}
.login-content-area2 span{
    font-size:12px;
    color:#434343;
    margin-left:6px;
}

/*找回密码*/
.head_title{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size:18px;
    margin-left:-10px;
}
.showPage{
    padding-left:40px;
    padding-right:40px;
}
.showPage label {
    font-size: 14px;
    width: 90px;
}
.showPage button{
    display:block;
}
.codeBtn{
    display: inline-block;
    background-color: #5FB878;
    height:32px;
    line-height:32px;
    cursor: pointer;
}
