.search-puball label {
    width: 30px;
}
.content-row-qurey {
    line-height: 25px;
    background-color: #ffffff;
    margin: 10px 0px;
    padding: 10px 10px;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.06);
    border-left: 4px solid transparent;
}
.app-bot {
    margin-top: 20px;
    /*border-left: 2px solid transparent;*/
    background: #f2f2f2;
}
.app-bot th {
    font-size: 14px;
    background-color: #fff;
    min-height: 200px;
    color: #4d4d4d;
}
.app-bot-table {
    border-left: 2px solid transparent;
}

.app-bot-table:hover {
    border-left: 2px solid #18ceb4;
}
.toumingp3 {
    width: 88px;
    height: 88px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 9px;
    text-align: center;
    line-height: 89px;
    opacity: 0;
}
.app-bot img {
    width: 88px;
    height: 88px;
}
.toumingp:hover, .toumingp2:hover, .toumingp3:hover {
    opacity: 1;
    cursor: pointer;
}
/*关闭按钮*/
/*.close-bot {*/
/*width: 100%;*/
/*margin-left:4px;*/
/*margin-top:-2px;*/
/*}*/
.close{
    position: absolute;
    right: 2px;
    top:4px;
    color: #656565;
}

/*下架按钮*/
.under_btn {
    background: #D9D9D9;
    /*background: #18ceb4;*/
    color: #fff;
    border: 1px #F3F3F3;
    line-height: 34px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}
.app-btn-green {
    background: #2db7f5;
    color: #fff;
    border: 1px #F3F3F3;
    line-height: 32px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
}
.addcase_page {
    padding: 4px 10px 10px 10px;
}
.addcase_page .layui-form-select dl {
    max-height: 140px !important;
}
.head_title {
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #4c4c4c;
}
.head_title {
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #4c4c4c;
}

/*图片滑动*/
.gallery-top {
    height: 80% !important;
    width: 100%;
}

.gallery-thumbs {
    height: 20% !important;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.swiper-container {
    background-color: #fff;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}
/**/

.app-view {
    font-size: 15px;
    color: #434343;
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-view-work {
    font-size: 15px;
    color: #434343;
    margin-top: 10px;
}

.app-view-work label, .app-view label {
    display: inline-block;
    width: 80px;
    color:#0aa2e5;
}
/*上传图片的button*/
.upload_btn {
    background: #fff;
    line-height: 34px;
    width: 90px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
/*上传图片*/
.upload_warp {
    margin: 14px;
    height: 130px;
}

.upload {
    width: 100%;
    border-radius: 4px;
}

.upload_warp_img {
    padding: 14px 0 0 14px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 300px;
    overflow-y: visible;
}

.upload_warp_img_div {
    position: relative;
    /*height: 150px;*/
    border: 1px solid #ccc;
    /*margin: 0px 30px 10px 0px;*/
    float: left;
    line-height: 100px;
    display: table-cell;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
}

.upload_warp_img_div_top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 30px;
    text-align: left;
    color: #fff;
    font-size: 12px;
    text-indent: 4px;
}

.upload_warp_left {
    position: relative;
    height: 80px;
    width: 80px;
    /*margin: 0px 30px 10px 0px;*/
    float: left;
    line-height: 100px;
    display: table-cell;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
    background-color: #FFFFFF;
}

.upload_warp_img_div_del {
    position: absolute;
    top: 6px;
    width: 16px;
    right: 4px;
}
.toumingp {
    width: 80px;
    height: 60px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 30px;
    text-align: center;
    line-height: 60px;
    opacity: 0;
}
.layui-form-checkbox i{
    border:1px solid #434343;
    right:73px;
}
.layui-form-checked i, .layui-form-checked:hover i{
    font-weight: bold;
}
input[type='checkbox']{
    display:inline-block;
    margin-left:12px;
    width:22px;
    height:22px;
    background-color:#fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
}