.order_content{
    width:88%;
    margin:auto;
    margin-top: 20px;
    border: 2px solid #d8d8d8;
    padding:14px;
}
.order_content .top{

}
.order_content .top h2{
    color: #333;
    font-size: 20px;
    margin-bottom:5px;
}
.order_content .top em, i{
    font-size:12px;
    font-style: normal;
    color: #f80;
}
.order_content .top span{
    font-size:12px;
    color: #333;
}







