/*.header-title {*/
    /*height: 40px;*/
    /*background-color: #f2f2f2;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*line-height: 40px;*/
/*}*/


.reg_top{
    padding-top:14px;
    padding-left:80px;
    padding-right:80px;
    border-bottom:3px solid #4BA200;
    padding-bottom: 14px;
}
.reg_top span{
    display: inline-block;
    position: absolute;
    font-size:16px;
    color:#4BA200;
    top:40px;
    margin-left:20px;

}
.back-login {
    right: 60px;
    float: right;
    position: absolute;
    top:40px;
    color:#4BA200;
}
.vfy-span {
    color: red;
    font-size: 18px;
    font-weight: 600;
}
.layui-form{
    padding-top:30px;
}
.layui-form-item{
    margin-top:10px;
}
.layui-input-inline input{
    width:240px;
    height:34px;
    line-height:34px;
    border:1px solid #D9D9D9;
    padding-left:5px;
    padding-right:5px;
    font-size:15px;
}
.code
{
    margin-left:10px;
    background:#F0F8FF;
    font-family:Arial;
    font-style:italic;
    color:blue;
    font-size:24px;
    border:0;
    padding:2px 3px;
    letter-spacing:3px;
    font-weight:bolder;
    /*float:left;*/
    cursor:pointer;
    width:110px;
    height:34px;
    line-height:32px;
    text-align:center;
    vertical-align:middle;
    /*position: absolute;*/
}
.btn{
    height:36px;
    line-height:36px;
    border:none;
    background:#4BA200;
    color:#fff;
    font-size:16px;
    border-radius:4px;
    cursor: pointer;
    width:252px;
    text-align:center;
    vertical-align:middle;
}

.login_foot{
    padding-bottom:6px;
    border-bottom: 1px solid #e6e6e6;
    /*margin-bottom: 40px;*/
    margin-top:110px;
}
.login_bottom{
    width:100%;
    margin-top:60px;
}
.login_bottom_content{
    width:36%;
    margin-left:32%;
}
.login_bottom li{
    width:18%;
    text-align: center;
    cursor: pointer;
    color:#f5f5f5;
}
.login_bottom li:hover{
    color:#4BA200;
}
.login_bottom_2{
    width:100%;
}
.login_bottom_content_2{
    width:26%;
    margin-left:37%;
}
.login_bottom li{
    width:18%;
    text-align: center;
    cursor: pointer;
    color:#434343;
}
.login_bottom_2 li{
    cursor: pointer;
}
.login_bottom_2 li:hover{
    color:#4BA200;
}