<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>网站首页</title>
    <link href="../../dist/css/layui.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    <link href="../../css/swiper.min.css" rel="stylesheet" />
    <link href="../../css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="content" id="app">
        <div class="layui-row content-row">
            <div class="layui-col-md3 layui-col-sm3 layui-col-xs3" style="padding-left:40px;">
                <img src="../../img/logo2.png" style="width:166px;height:60px;"/>
            </div>
            <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                <span class="ind_span"><i class="iconfont">&#xe639;</i>&nbsp;中山</span>
                <div class="search_bot layui-inline">
                    <div class="search_top layui-inline">
                        <input type="text" class="search_text" value=""   style="color: rgb(170, 170, 170);" autocomplete="off">
                        <button type="submit"> 搜&nbsp;索 </button>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
               <div class="search_right">
                   <span class="border_span" v-show="userinfo !=null" @click="orderDetailPage()">我的订单</span>
                   <span v-show="userinfo !=null" href="login1.html"><span class="search_btn2">{{userinfo.userName}}&nbsp;欢迎您!</span></span>
                   <a v-show="userinfo ==null" href="login1.html"><span class="search_btn">登录&nbsp;|&nbsp;注册</span></a>
               </div>
            </div>
        </div>
        <div class="layui-row">
            <ul class="layui-nav">
                <li class="layui-nav-item layui-this" style="margin-left:72px;"><a href="index.html">首页</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">旅游顾问</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">找顾问</a></dd>
                        <dd><a href="">旅游定制</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">自助游</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">酒店</a></dd>
                        <dd><a href="">机票</a></dd>
                        <dd><a href="">门票</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">攻略</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">旅游指南</a></dd>
                        <dd><a href="">美食</a></dd>
                        <dd><a href="">特产</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">百宝箱</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">天气</a></dd>
                        <dd><a href="">应急</a></dd>
                        <dd><a href="">公交</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-row">
            <div  class="view addcase_img">
                <div class="swiper-container">
                    <a class="arrow-left" href="#"></a>
                    <a class="arrow-right" href="#"></a>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../img/index1.jpeg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../img/index2.jpeg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../img/index3.jpeg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../img/dalunbo3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="content_main" style="padding-left:80px;padding-right:80px;">
                <div style="height:50px;margin-top:20px;width:100%;border-bottom:2px solid #ff9911;">
                    <span class="today_put">今日推荐</span>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md3 layui-col-sm3 layui-col-xs3 new_bot" v-for="(item,index) in newsTopList">
                        <a>
                            <img class="new_bot_img" v-bind:src="[item.img.length==0?'../../img/nopic.png': item.img[0].img]">
                            <a href="../orderDetail/orderDetail.html"><p>【{{item.title}}】</p></a>
                        </a>
                        <div class="price">
                            <span>{{item.price}}元起</span>
                            <button class="gre_btn" v-on:click="showDetailPage(item)">立即预定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row login_foot">
            <div class="login_bottom">
                <ul class="login_bottom_content">
                    <li class="layui-inline">返回网站主页</li>
                    <li class="layui-inline">旅游百宝箱</li>
                    <li class="layui-inline">帮助中心</li>
                    <li class="layui-inline">使用指南</li>
                    <li class="layui-inline">建议与投诉</li>
                </ul>
            </div>
        </div>
        <div class="layui-row">
            <div class="login_bottom_2">
                <ul class="login_bottom_content_2">
                    <li class="layui-inline"><a href="/page/AboutUs/about_us.html">关于我们</a>&nbsp;|</li>
                    <li class="layui-inline"><a></a>加入我们&nbsp;|</li>
                    <li class="layui-inline"><a href="../ContactUs/contact_us.html">联系我们</a>&nbsp;|</li>
                    <li class="layui-inline">合作伙伴</li>
                </ul>
            </div>
        </div>
    </div>
<script src="../../dist/jquery.min.js"></script>
<script src="../../dist/layui.js"></script>
<script src="../../dist/swiper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../../dist/global.js"></script>
<script src="../../dist/sha256.min.js"></script>
<script src="../../pagejs/index.js"></script>
<script>
    var viewSwiper = new Swiper('.view .swiper-container', {
        observer:true,
        observeParents:true,
        autoplay: true,
        autoplayDisableOnInteraction: false,
    })

    $('.view .arrow-left').on('click', function(e) {
        e.preventDefault()
        if (viewSwiper.activeIndex == 0) {
            viewSwiper.slideTo(viewSwiper.slides.length - 1, 1000);
            return
        }
        viewSwiper.slidePrev()
    })
    $('.view .arrow-right').on('click', function(e) {
        e.preventDefault()
        if (viewSwiper.activeIndex == viewSwiper.slides.length - 1) {
            viewSwiper.slideTo(0, 1000);
            return
        }
        viewSwiper.slideNext()
    })
</script>
</body>
</html>