<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../../dist/css/layui.css" rel="stylesheet" />
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <!--<link href="../../css/app.css" rel="stylesheet" />-->
    <link href="../../css/formSelects-v4.css" rel="stylesheet" />
    <link href="../../css/portal.css" rel="stylesheet" />
    <style>
        .height20 {
            color: #F00;
        }
        #isOverTime  tr th,#isOverTime  tr td{
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app" class="layui-layout layui-layout-admin">
    <header>
        <div class="layui-col-xs12 layui-header header-backcolor layui-header-text" style="background-color:#0aa2e5;position: fixed;">
            <div class="header-logo">
                <p class="header-logo-img">咔咔旅游后台管理系统</p>
            </div>
        </div>
    </header>

    <div class="left-sidebar" style="position: fixed;">
        <div class="side-scroll" style="">
            <div class="portal-user-information" style="width: 200px;margin-top: 16px;">
                <a >
                    <div class="portal-user-img">
                        <img src="../../img/touxiang.jpg"/>
                    </div>
                </a>
                <p class="portal-user-welcome">
                    欢迎<span class="portal-user-name">戴小卡</span>，您好！
                </p>
                <p class="portal-time">

                </p>
                <div class="portal-tuichu">
                    <a href="login.html" style="color:#333333;"><i class="iconfont icon-tuichu"></i>退出系统</a>
                </div>
            </div>
            <ul id="MenuList" class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="position: relative;background-color:#0aa2e5">
                <!--<li class="layui-nav-item">-->
                    <!--<a target="content-iframe" :href="menuobj.homeurl"><i class="iconfont"></i>主页</a>-->
                <!--</li>-->
                <li class="layui-nav-item" v-for="first in menuobj.menu">
                    <a href="javascript:;"><i class="iconfont first.icon"></i>{{first.auth_name}}<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child" v-for="second in first.childMenus">
                        <dd><a target="content-iframe" :href="second.url">{{ second.auth_name}}</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <!--<div id="renwu" style="display: none;overflow-y: auto">-->
            <!--<div class="layui-card">-->
                <!--<div class="layui-card-body renwu-content">-->
                    <!--<table class="layui-table" style="margin-top: 0px" lay-skin="nob">-->
                        <!--<thead>-->
                        <!--<tr style="background: #ffffff;border-bottom: 1px solid #f5f5f5">-->
                            <!--<th>序号</th>-->
                            <!--&lt;!&ndash;<th>医院</th>&ndash;&gt;-->
                            <!--<th>紧急度</th>-->
                            <!--<th>发布人</th>-->
                            <!--<th>时间</th>-->
                            <!--<th>调度</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody v-for="(item, index) in wsdata.order">-->
                        <!--<tr>-->
                            <!--<td>{{index + 1}}</td>-->
                            <!--&lt;!&ndash;<td>{{item.hospitalName}}</td>&ndash;&gt;-->
                            <!--<td :class="item.priorityDescr=='加急'?'height20':''">{{item.priorityDescr}}</td>-->
                            <!--<td>{{item.createBy}}</td>-->
                            <!--<td>{{item.createTime}}</td>-->
                            <!--<td><button v-on:click="assign(item)" class="layui-btn app-btn-search">详情</button></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <iframe name="content-iframe" class="content-iframe" src="" id="framea"></iframe>
    </div>

</div>

<script src="../../dist/layui.js"></script>
<script src="../../dist/global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../../pagejs/portal.js"></script>
</body>
</html>
