<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link href="../../dist/css/layui.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
</head>
<body>
<div class="content-main" id="app">
    <div class="content-main-bock">
        <p class="app-toptitle">当前位置&nbsp;->&nbsp;<a style="color: #2db7f5">个人中心</a></p>
        <div class="layui-row layui-row-padding-0">
            <div class="layui-card">
                <div class="layui-card-body um001-topcontent-body">
                    <!--<table id="view_1_table_1" lay-filter="view_1_table_1" style="overflow: auto"></table>-->
                    <table class="layui-table" lay-even="">
                        <colgroup>
                            <col width="100">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col width="100">
                            <col width="150">
                            <col width="150">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th style="text-align: center;">姓名</th>
                            <th style="text-align: center;">账号(手机号码)</th>
                            <th style="text-align: center;">密码</th>
                            <th style="text-align: center;">邮箱</th>
                            <th style="text-align: center;">性别</th>
                            <th style="text-align: center;">角色</th>
                            <th style="text-align: center;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center;">{{userData.userName}}</td>
                            <td style="text-align: center;">{{userData.tele}}</td>
                            <td style="text-align: center;">{{userData.password}}</td>
                            <td style="text-align: center;">{{userData.email}}</td>
                            <td style="text-align: center;" v-show="userData.sex == 1">男</td>
                            <td style="text-align: center;" v-show="userData.sex == 0">女</td>
                            <td style="text-align: center;" v-show="userData.role == 2">系统管理员</td>
                            <td style="text-align: center;" v-show="userData.role == 1">员工</td>
                            <td style="text-align: center;color:#2db7f5;font-size:20px;"><i class="iconfont icon-bianji" style="cursor: pointer;" v-on:click="showUpdatePage()"></i><a v-on:click="showUpdatePage()" class="app-btn">修改个人信息</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--编辑修改弹出层-->
        <div id="view_1" class="layui-col-xs12 layui-col-md12 content-main-content app-model operate_2" >
            <form class="layui-form"  style="padding-left: 20px;">
                <div class="big" style="padding-top: 20px;" >
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label tt pub">姓名</label>
                        <div class="layui-inline">
                            <input type="text" class="layui-input usernumber pubin" lay-verify="required" v-model="editObj.userName">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <label class="layui-form-label pub">账号</label>
                        <div class="layui-inline">
                            <input type="text" class="layui-input username pubin" lay-verify="required" maxlength="11" placeholder="请输入手机号" v-model="editObj.tele">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline layui-inline">
                        <label class="layui-form-label pub">密码</label>
                        <div class="layui-inline">
                            <input type="text" class="layui-input phonenumber pubin" lay-verify="required" maxlength="11" v-model="editObj.password">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline layui-inline">
                        <label class="layui-form-label pub">性别</label>
                        <div class="layui-inline" style="width:180px;">
                            <select id="selectSex" type="text" class="layui-input phonenumber pubin" lay-verify="required"  v-model="editObj.sex">
                                <option value=1>男</option>
                                <option value=0>女</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline layui-inline">
                        <label class="layui-form-label pub">邮箱</label>
                        <div class="layui-inline">
                            <input type="text" class="layui-input phonenumber pubin" lay-verify="required" v-model="editObj.email">
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline layui-inline">
                        <label class="layui-form-label pub">角色</label>
                        <div class="layui-inline" v-show="editObj.role==2">
                            <input type="text" class="layui-input phonenumber pubin" lay-verify="required" disabled  value="系统管理员">
                        </div>
                        <div class="layui-inline" v-show="editObj.role==1">
                            <input type="text" class="layui-input phonenumber pubin" lay-verify="required" disabled  value="员工">
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="btn" style="text-align: center;margin-top:14px;">
                    <a class="layui-btn app-btn-search layui-btn-sm edits" lay-submit lay-filter="formedit" v-on:click="saveEdit">保存</a>
                    <a v-on:click="cancel" class="layui-btn layui-btn-primary layui-btn-sm app-btn-cancel">取消</a>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="../../dist/jquery.min.js"></script>
<script src="../../dist/layui.js"></script>
<script src="../../pagejs/Vue.js"></script>
<script src="../../dist/global.js"></script>
<script src="../../pagejs/US001.js"></script>
<script src="../../dist/sha256.min.js"></script>
</body>
</html>