<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../../dist/css/layui.css" rel="stylesheet" />
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <link href="../../css/formSelects-v4.css" rel="stylesheet" />
    <link href="../../css/admin/index01.css" rel="stylesheet" />
    <style>
        .height20 {
            color: #F00;
        }
        #isOverTime  tr th,#isOverTime  tr td{
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app" class="layui-layout layui-layout-admin">
    <header>
        <div class="layui-col-xs12 layui-header header-backcolor layui-header-text" style="background-color:#0aa2e5;position: fixed;">
            <div class="header-logo">
                <p class="header-logo-img">咔咔旅游后台管理系统</p>
            </div>
            <div class="header-user-role" style="float:right;">
                <p>角色：{{roleName}}!</p>
            </div>
        </div>
    </header>

    <div class="left-sidebar" style="position: fixed;">
        <div class="side-scroll" style="">
            <div class="portal-user-information" style="width: 200px;margin-top: 16px;">
                <a >
                    <div class="portal-user-img">
                        <img src="../../img/touxiang.jpg"/>
                    </div>
                </a>
                <p class="portal-user-welcome">
                    欢迎<span class="portal-user-name">{{userinfo.userName}}</span>，您好！
                </p>
                <p class="portal-time">

                </p>
                <div class="portal-tuichu">
                    <a href="../Login/login.html" style="color:#333333;"><i class="iconfont icon-tuichu"></i>退出系统</a>
                </div>
            </div>
            <ul id="MenuList" class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="position: relative;background-color:#0aa2e5">
                <li class="layui-nav-item" v-for="first in menuobj.menu">
                    <a :href="first.url" target="content-iframe" style="cursor: pointer;">{{first.descr}}</a>
                    <dl class="layui-nav-child" v-for="second in first.childMenu">
                        <dd><a target="content-iframe" :href="second.url">{{ second.descr}}</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <iframe name="content-iframe" class="content-iframe" src="" id="framea"></iframe>
    </div>

</div>

<script src="../../dist/layui.js"></script>
<script src="../../dist/global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../../pagejs/index01.js"></script>
</body>
</html>