html{
    width:100%;
    height: 100%;
}
body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Microsoft YaHei','SimSun';
}

/* 定义keyframe动画，命名为blink */

@keyframes header-blink{
    0%{opacity: 1;}
    50%{opacity: 1;}
    50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
    100%{opacity: 0;}
}

/* 添加兼容性前缀 */

@-webkit-keyframes header-blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes header-blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes header-blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes header-blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

/* 定义blink类*/
.header-blink{
    animation: header-blink .75s linear infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: header-blink .75s linear infinite;
    -moz-animation: header-blink .75s linear infinite;
    -ms-animation: header-blink .75s linear infinite;
    -o-animation: header-blink .75s linear infinite;
    color: #dd4814;
}

.header-item-right {
    float: right;
}

.header-item-left {
    float: left;
}

.header-backcolor {
    background-color: #fff;
}

.header-logo .header-logo-img {
    width: 220px;
    height: 49px;
    margin: 0px;
    background-color: #0aa2e5;
    color: #ffffff;
    text-align: center;
    line-height: 49px;
    font-size: 20px;
    /* border-right: 1px dashed #817474;
      border-bottom: 1px solid #817474; */
    float: left;
    /*opacity: 0.8;*/
}
.header-user-role p{
    width: 200px;
    height: 49px;
    margin: 0px;
    background-color: #0aa2e5;
    color: #ffffff;
    text-align: center;
    line-height: 49px;
    font-size: 14px;
    float: left;
}
.left-header-switch-button {
    width: 60px;
    height: 50px;
    float: left;
    background-color: #323436;
    /* border-right: 1px dashed #817474;*/
}

.left-header-switch-button > a {
    margin: 10px 20px;
    position: absolute;
}

.left-sidebar {
    background-color: #0aa2e5;
    float: left;
    position: fixed;
    top: 50px;
    bottom: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    bottom: 0;
    /*z-index: 999;*/
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 200px;
}

.left-sidebar .active {
    left: -220px;
}

.side-scroll {
    width: 220px;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


.content {
    float: left;
    /*background: #d9dade;*/
    left: 200px;
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.content.active {
    left: 0px;
}

.content-iframe {
    width: 100%;
    height: 100%;
    /*background-color: #d9dade;*/
    border: 0px;
}
.layui-nav-item a:hover{
    background-color: #1E9FFF;
}
.layui-nav-tree .layui-nav-item a > i {
    margin-right: 10px;
    color: #e8d8d8;
    font-size: 18px;
}

.left-sidebar .side-scroll .layui-nav .layui-nav-item a {
    padding: 0 32px;
    /*display: inline-block;*/
}
dl.layui-nav-child dd a{
    padding-left: 30px !important;
}
.side-scroll .layui-nav-tree .layui-nav-more {
    right: 10px;
}

.side-scroll .layui-nav-tree {
    width: 200px;
}

/*必须放最后*/

.layui-footer {
    float: left;
    left: 150px;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.layui-footer.active {
    left: 0px;
}

p {
    display: block;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.layui-footer p {
    text-align: center;
    color: #9AAAB7;
    line-height: 24px;
}
.layui-nav-itemed ,.layui-this{
    background: #0aa2e5 !important;

}
.layui-nav-item a,.layui-nav-itemed a{
    font-size: 16px !important;
    color: #ffffff !important;
    font-weight: normal !important;
    padding-left: 30px;
}
dd.layui-this{
    background: #2db7f5 !important;
}
.layui-this:after{
    background:  #2db7f5 !important;
}
.layui-this>a,a.layui-this>a:hover{
    background: #066995 !important;
    /*color: #000000 !important;*/
    /*font-weight: bold !important;*/
}
.layui-nav-item a:hover{
    background-color: #0aa2e5 !important;
}
.layui-nav-bar{
    background-color: #f5f5f5 !important;
}
.layui-nav-itemed>.layui-nav-child{
    background: #2db7f5 !important;
}
.layui-nav-itemed>.layui-nav-child dd{
    border-bottom: 1px solid #41bef6 !important;
}
.layui-nav-item>.layui-nav-child a{
    font-size: 14px !important;
}
.layui-nav-child a:hover{
    background-color: #066995 !important;
    /*color: #000000 !important;*/
    /*font-weight: bold !important;*/
}
.portal-user-img{
    text-align: center;
}
.portal-user-img img{
    width: 150px;
    height: 150px;
    border-radius: 70px;
}
/*p{*/
/*margin-top: 0px;*/
/*margin-bottom: 0px;*/
/*}*/
.portal-user-welcome{
    text-align: center;
    color: #ffffff;
    margin-bottom: 0px;
}
.portal-time{
    color: #00638d;
    font-size: 14px;
    text-align: center;
    /*margin-top: 0px;*/
}
.portal-tuichu{
    text-align: center;
    padding-bottom: 35px;
    margin-top: 10px;
    border-bottom: 1px solid #54bfed;
}
.portal-tuichu a{
    display: inline-block;
    width: 100px;
    border: 1px solid #ffffff;
    color: #ffffff !important;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
/*.renwu{*/
/*position: absolute;*/
/*right: 2.5%;*/
/*}*/
/*.phone{*/
/*position: absolute;*/
/*right: 10%;*/
/*margin-right: 10px;*/
/*}*/
.phone1{
    position: absolute;
    right: 6%;
    margin-right: 10px;
}
.renwu i,.phone i,.phone1 i{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    color: #ffffff;
}
.phone i{
    font-size: 33px;
}
.renwu-but{
    width: 95px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #ff2c2c;
    display: inline-block;
}
.renwu-dot{
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    border-radius: 50%;
    background-color: #e83d2b;
    position: absolute;
    top: 0px;
    right: -10px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    /*line-height: 20px;*/
}
.renwu-content{
    padding: 0px;
    /*margin-top: 0px !important;*/
}
.diao-content div{
    font-size: 12px;
    color: #bbbbbb;
    /*margin-left: 50px;*/
}
.diaodu-content{
    display: flex;
    justify-content:space-between;
}
.diaodu-content span{
    font-size: 14px;
}
.diaodu-type span{
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
}
.diaodu-people{
    margin-top: 30px;
}
.diaodu-people label{
    margin-left: 0px;
    padding-left: 0px;
    color: #000000;
}
.diaodu-people select{
    width: 150px;
    height: 30px;
    line-height: 30px;
}
.diaodu-btn{
    text-align: right;
    margin-bottom: 30px;
    margin-top: 15px;
}
.diaodu-btn a{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    margin-right: 15px;
}
.diaodu-btn-sure{
    color: #ffffff;
    background: #46c47b;
    border: 1px solid #46c47b;
}
.diaodu-btn-last{
    background: #f5f5f5;
    border: 1px solid #c1c1c1;
}
.ptype{
    background: #FFAC55;
    color: #ffffff;
}
.but4{
    display: inline-block;
    width: 180px;
    /*text-align: center;*/
    height: 45px;
    line-height: 45px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-right: 15px;
    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
}
a.but4:hover{
    background-color: #FFAC55;
    color: #ffffff;
}
.img{
    position: absolute;
    top: 14px;
    right: 10px;
}
.app-btn-sear,.app-btn-can{
    background-color: #2db7f5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.app-btn-can{
    background-color: #9fa0a2;
}