<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>旅游项目管理</title>
    <link href="../../dist/css/layui.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <link href="../../css/formSelects-v4.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    <link href="../../css/swiper.css" rel="stylesheet" />
    <link href="../../css/NW001.css" rel="stylesheet" />
</head>
<body>
<div class="content-main" id="app">
    <div class="content-main-bock">
        <p class="app-toptitle">当前位置&nbsp;->&nbsp;<a style="color: #2db7f5">旅游项目管理</a></p>
        <!--数据显示-->
        <div class="work-table" style="margin-top: 10px;">
            <div class="bigBtn">
                <a v-on:click="showAddPage" class="add_btn" style="float:right;margin-bottom: 10px;"><i class="iconfont icon-tianjia"></i>添加新项目</a>
            </div>
            <table class="layui-table" lay-skin="nob" lay-even>
                <thead>
                <tr>
                    <th style="text-align: center;width:210px;">项目名称</th>
                    <th style="width:120px;text-align: center">地区</th>
                    <th style="width:80px;text-align: center">现价</th>
                    <th style="width:100px;text-align: center">开始时间</th>
                    <th style="width:80px;text-align: center">已下单人数</th>
                    <th style="width:80px;text-align: center">状态</th>
                    <th style="width:110px;text-align: center">操作</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="app-bot">
            <table class="layui-table app-bot-table" lay-skin="nob" v-for="(item,index) of productList" style="margin-bottom: 10px;">
                <thead>
                <tr>
                    <th style="width:210px;">
                        <div style="display:inline;width:100px;" @click="showPhoto(item.img)">
                            <div class="toumingp3">
                                <i class="iconfont icon-fangda" style="font-size: 24px;color: #FFFFFF"></i>
                            </div>
                            <img v-bind:src="item.img.length ===0?'../../img/nopic.png': item.img[0].img" />
                        </div>
                        <div class="layui-inline" style="width:100px;">
                            <p style="color:#434343;">{{item.title}}</p>
                        </div>
                    </th>
                    <th style="width:120px;text-align: center">{{item.areaId}}</th>
                    <th style="width:100px;text-align: center">¥{{item.price}}</th>
                    <th style="width:100px;text-align: center">{{item.beginTime}}</th>
                    <th style="width:100px;text-align: center">{{item.orderCount}}</th>
                    <th style="width:80px;text-align: center" v-show="item.enable == 1">上架</th>
                    <th style="width:80px;text-align: center" v-show="item.status == 0">下架</th>
                    <th style="width:110px;text-align: center">
                        <div class="close-bot"><span style="cursor: pointer;" class="close" v-on:click="deletePruduct(item)"><i class="iconfont icon-guanbi" style="position:absolute;right:10px;"></i></span></div>
                        <button class="app-btn-green" style="width:80px;margin-top:12px;"  v-on:click="showDetailPage(item)">查看详情</button>
                        <!--<button class="app-btn-green" style="width:100px;margin-top:6px;" @click="changeStatus(item,0)" v-show="item.status == 1">下架</button>-->
                        <!--<button class="app-btn-green" style="width:100px;margin-top:6px;" @click="changeStatus(item,1)" v-show="item.status == 0">上架</button>-->
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <!--分页-->
        <div class="layui-row" style="text-align:center;background-color: white;">
            <jx-page v-bind:config="pageconfig" v-on:query="queryPage" v-model="pageInfo"></jx-page>
        </div>
        <!--查看详情/编辑-->
        <div id="view_1" class="addcase_page app-model" >
            <div class="layui-row layui-form" style="margin-top:10px;padding-left:12px;padding-right:12px;">
                <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                    <div style="padding-left:30px;padding-right:20px;">
                        <div class="app-view">
                            <label>编号：</label>
                            <span>{{chosenProductInfo.newsId}}</span>
                        </div>
                        <div class="app-view">
                            <label>项目名称：</label>
                            <span>{{chosenProductInfo.title}}呜呜呜呜吾问无为谓呜呜呜呜</span>
                        </div>
                        <div class="app-view-work">
                            <label>地区：</label>
                            <span>{{chosenProductInfo.areaId}}</span>
                        </div>
                        <div class="app-view-work">
                            <label class="app-lab">开始时间：</label>
                            <span>{{chosenProductInfo.beginTime}}</span>
                        </div>
                        <div class="app-view-work">
                            <label>下单人数：</label>
                            <span>{{chosenProductInfo.orderCount}}</span>
                        </div>
                        <div class="app-view-work">
                            <label>创建人：</label>
                            <span>{{chosenProductInfo.createBy}}</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                    <div style="padding-left:30px;padding-right:20px;">
                        <div class="app-view-work">
                            <label>原价：</label>
                            <span>{{chosenProductInfo.originalPrice}}元</span>
                        </div>
                        <div class="app-view-work">
                            <label>现价：</label>
                            <span>{{chosenProductInfo.price}}元</span>
                        </div>
                        <div class="app-view-work">
                            <label>状态：</label>
                            <span v-show="chosenProductInfo.enable == 1">上架</span>
                            <span v-show="chosenProductInfo.enable == 0">下架</span>
                        </div>
                        <div class="app-view-work">
                            <label>创建时间：</label>
                            <span>{{chosenProductInfo.createTime}}</span>
                        </div>
                        <div class="app-view-work">
                            <label class="app-lab">详细介绍：</label>
                            <span>{{chosenProductInfo.content}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--添加项目弹出层-->
        <div id="view_2" class="layui-col-xs12 layui-col-md12 content-main-content app-model operate_2" >
            <form class="layui-form"  style="padding-left: 20px;">
                <div class="big" style="padding-top: 20px;" >
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <div class="layui-form-item layui-inline">
                                <label class="layui-form-label tt">项目名称</label>
                                <div class="layui-input-inline" style="width:180px;">
                                    <input type="text" class="layui-input"  lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item layui-inline">
                                <label class="layui-form-label">地区</label>
                                <div class="layui-inline" style="width:180px;">
                                    <select id="areaNew" lay-search="" lay-verify="required"></select>
                                </div>
                            </div>
                            <div class="layui-form-item layui-inline">
                                <label class="layui-form-label">原价</label>
                                <div class="layui-inline">
                                    <input type="text" class="layui-input" lay-verify="required" maxlength="10" >
                                </div>
                            </div>
                            <div class="layui-form-item layui-inline">
                                <label class="layui-form-label">现价</label>
                                <div class="layui-inline" style="width:180px;">
                                    <input type="text" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item layui-inline">
                                <label class="layui-form-label">开始时间</label>
                                <div class="layui-inline" style="width:180px;">
                                    <input type="text" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <!--<div class="layui-form-item layui-inline layui-inline">-->
                                <!--<label class="layui-form-label">订单数量</label>-->
                                <!--<div class="layui-inline">-->
                                    <!--<input type="text" class="layui-input phonenumber pubin" lay-verify="required">-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-form-item layui-inline">
                                <label class="layui-form-label">详细介绍</label>
                                <div class="layui-inline">
                                    <textarea type="text" class="layui-textarea " style="width:240px;!important" lay-verify="required"></textarea>
                                </div>
                            </div>
                            <div>
                                <div class="img_box">
                                    <img src="../../img/addpic.png" class="addImg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="btn" style="text-align: center;margin-top:14px;">
                    <a class="layui-btn app-btn-search layui-btn-sm edits" lay-submit lay-filter="formnew">确定</a>
                    <a  class="layui-btn layui-btn-primary layui-btn-sm app-btn-cancel">取消</a>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="../../dist/layui.js"></script>
<script src="../../dist/global.js"></script>
<script src="../../dist/swiper.js"></script>
<script src="../../pagejs/Vue.js"></script>
<script src="../../dist/jx.js"></script>
<script src="../../dist/vue-awesome-swiper.js"></script>
<script src="../../pagejs/NW001.js"></script>
</body>
</html>