<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <link href="../../dist/css/layui.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
</head>
<body>
<div class="content-main" id="app">
    <div class="content-main-bock">
        <p class="app-toptitle">当前位置&nbsp;->&nbsp;<a style="color: #2db7f5">订单管理</a></p>
        <div class="layui-row layui-row-padding-0">
            <div class="layui-card">
                <div class="layui-card-body um001-topcontent-body">
                    <div class="bigBtn">
                        <!--<a data-method="put" class="layui-btn add_btn" v-on:click="exportExcel"><i class="iconfont icon-search" ></i>&nbsp;导出</a>-->
                        <!--<a v-on:click="showAddPage" class="add_btn" style="float:right;margin-bottom: 10px;"><i class="iconfont icon-tianjia"></i>添加新订单</a>-->
                    </div>
                    <table class="layui-table" lay-even="" >
                        <colgroup>
                            <col width="100">
                            <col width="100">
                            <col width="100">
                            <col width="100">
                            <col width="60">
                            <col width="60">
                            <col width="60">
                            <col width="100">
                            <col width="60">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th style="text-align: center;">订单编号</th>
                            <th style="text-align: center;">顾客姓名</th>
                            <!--<th style="text-align: center;">创建人姓名</th>-->
                            <th style="text-align: center;">下单时间</th>
                            <th style="text-align: center;">项目名称</th>
                            <th style="text-align: center;">原价</th>
                            <th style="text-align: center;">现价</th>
                            <th style="text-align: center;">开始时间</th>
                            <th style="text-align: center;">项目介绍</th>
                            <th style="text-align: center;">总价</th>
                            <th style="text-align: center;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) of orderList">
                                <td style="text-align: center;">{{item.orderId}}</td>
                                <!--<td style="text-align: center;">{{item.news.createBy}}</td>-->
                                <td style="text-align: center;">{{item.createName}}</td>
                                <td style="text-align: center;">{{item.createTime}}</td>
                                <td style="text-align: center;">{{item.news.title}}</td>
                                <td style="text-align: center;">{{item.news.originalPrice}}</td>
                                <td style="text-align: center;">{{item.news.price}}</td>
                                <td style="text-align: center;">{{item.news.beginTime}}</td>
                                <td style="text-align: center;">{{item.news.content}}</td>
                                <td style="text-align: center;">{{item.sumPrice}}元</td>
                                <td style="text-align: center;color:#2db7f5;font-size:20px;"><i class="iconfont icon-shanchu" style="cursor: pointer;" v-on:click="del(item)"></i><a class="app-btn" v-on:click="del(item)">删除</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--分页-->
        <div class="layui-row" style="text-align:center;background-color: white;">
            <jx-page v-bind:config="pageconfig" v-on:query="queryPage" v-model="pageInfo"></jx-page>
        </div>
    </div>

    <!--添加订单弹出层-->
    <div id="view_2" class="layui-col-xs12 layui-col-md12 content-main-content app-model operate_2" >
        <form class="layui-form"  style="padding-left: 20px;">
            <div class="big" style="padding-top: 20px;" >
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label tt pub2">项目</label>
                    <div class="layui-input-inline" style="width:180px;">
                        <select id="newOrder" lay-search="" lay-verify="required"></select>
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label pub2">游客姓名</label>
                    <div class="layui-inline">
                        <input type="text" class="layui-input username pubin"  lay-verify="required" v-model="newObj.tele">
                    </div>
                </div>
                <div class="layui-form-item layui-inline layui-inline">
                    <label class="layui-form-label pub2">游客电话</label>
                    <div class="layui-inline">
                        <input type="text" class="layui-input phonenumber pubin" lay-verify="required" maxlength="11" v-model="newObj.password">
                    </div>
                </div>
                <div class="layui-form-item layui-inline layui-inline">
                    <label class="layui-form-label pub2">人数</label>
                    <div class="layui-inline">
                        <input type="text" class="layui-input phonenumber pubin" lay-verify="required"  v-model="newObj.email">
                    </div>
                </div>
                <div class="layui-form-item layui-inline layui-inline">
                    <label class="layui-form-label pub2">总金额</label>
                    <div class="layui-inline">
                        <input type="text" class="layui-input phonenumber pubin" lay-verify="required"  v-model="newObj.email">
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="btn" style="text-align: center;margin-top:14px;">
                <a class="layui-btn app-btn-search layui-btn-sm edits" lay-submit lay-filter="formnew" v-on:click="saveNew">下单</a>
                <a v-on:click="cancel" class="layui-btn layui-btn-primary layui-btn-sm app-btn-cancel">取消</a>
            </div>
        </form>
    </div>

</div>
<script src="../../dist/jquery.min.js"></script>
<script src="../../dist/layui.js"></script>
<script src="../../pagejs/Vue.js"></script>
<script src="../../dist/global.js"></script>
<script src="../../dist/jx.js"></script>
<script src="../../dist/excel/dist/xlsx.full.min.js"></script>
<script src="../../pagejs/FileSaver.js"></script>
<script src="../../pagejs/OD001.js"></script>
<script src="../../dist/sha256.min.js"></script>
</body>
</html>