@charset "utf-8";
.center{
	width:1200px;
	margin:0 auto;
}
/*.center .listItem{*/
	/*width:180px;*/
	/*float:left;*/
	/*text-align:center;*/
	/*margin-top:50px;*/
/*}*/
/*.center .listItem a{*/
	/*font-size:24px;*/
	/*color:#333333;*/
	/*font-weight:bold;*/
	/*line-height:85px;*/
/*}*/
/*.center .listItem ul .current a{*/
	/*color:#0099cc;*/
/*}*/
/*.center .listItem a:hover{*/
	/*color:#0099cc;*/
/*}*/

.center .about_us{
	width:920px;
	margin: auto;
	overflow: hidden;
}
.center .about_us .top{
	width:920px;
	margin-top:74px;
}
.center .about_us .top .left{
	width:185px;
	display: inline-block;
}
.center .about_us .top .left h2{
	font-size:24px;
	display: inline-block;
	color:#333;
	font-weight:bold;
	padding-right:8px;
	line-height: 22px;
	border-right:1px solid #333333; 
} 
 .center .about_us .top .left p{
	display:inline-block;
	font-size:12px;
	color:#555;
	margin-top:13px; 
}

.center .about_us .top .right{
	width:205px;
	float:right;
	margin-top: 12px;
}
.center .about_us .top .right span{
	font-size:14px;
	color:#555;
}
.center .about_us .top .line{
	width:920px;
}
.center .about_us .up{
	width: 920px;
}
.center .about_us .up h2{
	font-size:26px;
	color:#333;
	font-weight:bold;
	text-align:center;
	margin-top:25px;
}	
.center .about_us .up img{
	width:435px;
	height:294px;
	float:right;
	margin:40px 12px 20px 40px;
}
.center .about_us .up p{
	font-size:18px;
	font-weight:bold;
	color:#555;
	margin-top:30px;
	line-height:35px;
	text-indent:2em;
}
.center .about_us .up p span{
	font-size:16px;
	font-family: "Gabriola";
	font-weight:"bold";
	color:#555;
} /* */


















