@charset "utf-8";
/* CSS Document */
	
.contact_us{
	width:1200px;
	clear:both;
	overflow:hidden;
	margin:0 auto;
	}
.contact_us .top{
	width:1200px;
	margin-top:10px;
	}
.contact_us .top .left{
	width:200px;
	float:left;
	clear:both;
	overflow:hidden;
	}
.contact_us .top .left h2{
	font-size:24px;
	color:#444444;
	font-weight:bold;
	float:left;
	line-height:22px;
	padding-right:8px;
	margin-right: 8px;
	margin-top:15px;
	border-right:1px solid #333333;
	}
.contact_us .top .left p{
	font-size:16px;
	color:#777777;
	font-weight:bold;
	margin-top:15px;
	font-family: "Gabriola";
	}

.contact_us .top .right{
	padding-top:15px;
	width:205px;
	float:right;
	}
.contact_us .top .right span{
	font-size:14px;
	font-weight:bold;
	color:#777777;
	font-family: "宋体";
	float: right;
	}
.contact_us .top .line{
	width:1200px;
	}


.contact_us .up{
	width:1200px;
	
	}
.contact_us .up .img{
	width:1000px;
	height:450px;
	margin:10px auto;
	clear:both;
	overflow:hidden;
	}	
.contact_us .up .img iframe{
	width:1000px;
	height:450px;
	margin:38px auto;
	}
	
.contact_us .up .table{
	width:1000px;
	margin:15px auto;	
	clear:both;
	overflow:hidden;
	}
.contact_us .up .table .left{
	width:550px;
	margin-top:40px;
	float:left;
	}
.contact_us .up .table .left p{
	font-size:22px;
	color:#333333;
	}
.contact_us .up .table .left form{
	margin-left:82px;
	color:#666666;
	font-size:18px;
	line-height:50px;	
	}
.contact_us .up .table .left form .name{
	border:1px solid #666666;
	line-height:20px;
	width: 100px;
	padding: 2px 5px;
	}
.contact_us .up .table .left form .phone{
	border:1px solid #666666;
	line-height:20px;
	width: 150px;
	padding: 2px 5px;
	}	
.contact_us .up .table .left form textarea{
	margin-left:66px;
	margin-top:-30px;
	resize:none;
	border: 1px solid #666666;
	width: 300px;
	padding: 2px 5px;
	color:#666666;
	font-size:18px;
	}		
.contact_us .up .table .left form .auth{
	width:60px;
	line-height:20px;
	padding: 2px 5px;	
	margin-left: 4px;
	border: 1px solid #666666;
	}
.contact_us .up .table .left form .world{
	width:55px;
	line-height: 1px;
	background: url(../images/auth.jpg) no-repeat;
}	
.contact_us .up .table .left form span{
	font-size: 14px;
	color:#999999;
	
}
.contact_us .up .table .left form .submit{
	width:76px;
	border-radius: 8px;
	margin-left: 100px;
	background:#0099cc;
	color:#fafafa;
	cursor: pointer;
	}
.contact_us .up .table .right{
	width:410px;
	float:right;
	margin-top:46px;
	}
.contact_us .up .table .right .icon .qq{
	margin-left:80px;
	width:65px;
	
	}
.contact_us .up .table .right .icon .wechat{
	margin-left:130px;
	width:65px;

	}
.contact_us .up .table .right .pic_icon{
	margin-top:20px;
	}	
.contact_us .up .table .right .pic_icon .qr_code{
	margin-left:52px;
	}
.contact_us .up .table .right .pic_icon .qr_barcode{
	margin-left:74px;
	}
.contact_us .up .table .right .bus{
	margin-top:70px;
	}
.contact_us .up .table .right .bus p{
	font-size:16px;
	color:#333333;
	}









